@model SistemaPedidos.Models.ViewModels.PedidosViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Detalhes</h2>

<div>
    <h4>Pedido</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pedido.Prato)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pedido.Prato.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pedido.Bebida)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pedido.Bebida.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pedido.Mesa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pedido.MesaId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pedido.NomeDoSolicitante)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pedido.NomeDoSolicitante)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pedido.Data)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pedido.Data)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pedido.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pedido.Status)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Pedido.Id">Editar</a> |
    <a asp-action="Index" asp-route-id="@Html.ValueFor(model => model.Pedido.MesaId)">Voltar para a lista</a>
</div>
